{% if error %}
    <article class="message is-danger">
        <div class="message-header">
            <p>Error</p>
        </div>
        <div class="message-body">
            {{ error }}
        </div>
    </article>
{% else %}
    {% if lazy_loading_enabled %}
        <div hx-get="{% url 'ui_web:partials_available_members' %}{% if selected_member_group_id %}?member_group_id={{ selected_member_group_id|urlencode }}{% endif %}"
             hx-trigger="load"
             hx-swap="outerHTML">
            {% include "partials/loading_indicator.html" %}
        </div>
    {% else %}
        {% include "partials/available_members_table.html" %}
    {% endif %}

    <div id="current-tasks-board">
        {% include "partials/current_tasks_board.html" %}
    </div>
{% endif %}
